@page
@using RegistrationApp.Services
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-6">
    <form asp-route-returnUrl="@Model.ReturnUrl" Model method="post">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmEmail"></label>
            <input asp-for="Input.ConfirmEmail" class="form-control" />
            <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" />
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.TelephoneNumber"></label>
            <input asp-for="Input.TelephoneNumber" class="form-control" />
            <span asp-validation-for="Input.TelephoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DanceGender"></label>
            <select asp-for="Input.DanceGender" class="form-control">
                @foreach (var value in Model.GetAllGendersInDanish())
                {
                    <option value="@value">@value</option>
                }
            </select>
            <span asp-validation-for="Input.DanceGender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DanceLevel"></label>
                @foreach (var value in Model.GetAllLevelsInDanish())
                {
                    @:<input type="checkbox" onchange="eventArgs=>{CheckboxClicked(value, eventArgs.Value);}" />@value<br />
                }
            <span asp-validation-for="Input.DanceLevel" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
